{% extends 'base.html.twig' %}

{% block title %}IFCAP - {{ slug }}{% endblock %}

{% block body %}

  {% for i in formation %}
    {% if slug == i.nom %}

      <section class="banner" style="background-image: url(../images/{{ i.image }});">

        <div class="banner-color">

            <h1 class="banner-title-formation">{{ slug }}</h1>

            <div class="banner-resume banner-resume-formation">
                <p class="resume-title">Formation</p>
                <p class="resume-text">{{ i.resume }}</p>
                <a href=""><button class="formations-button2">S'inscrire</button></a>
            </div>

        </div>

      </section>

      <section class="formation-section">

        <div class="formation-container">

          <article class="formation-description">

            <div class="formation-description-container">
              <h2 class="formation-h2">Informations sur la formation</h2>
              <p>{{ i.description | nl2br }}</p>
            </div>

            <div class="formation-description-container">
              <h2 class="formation-h2">Prérequis</h2>
              <p>{{ i.prerequis | nl2br }}</p>
            </div>

            <div class="formation-description-container">
              <h2 class="formation-h2">Débouchés professionnels</h2>
              <p>{{ i.debouches | nl2br }}</p>
            </div>

          </article>

          <aside class="formation-infos">

            <div class="formation-infos-container">
              <div class="formation-subtitle">
                <img class="formation-icon" src="/images/icons/clock.svg" alt="valide">
                <h3 class="formation-h3">Durée :</h3>
              </div>
              <p class="formation-infos-p">{{ i.duree }}</p>
            </div>

            <div class="formation-infos-container">
              <div class="formation-subtitle">
                <img class="formation-icon" src="/images/icons/location.svg" alt="valide">
                <h3 class="formation-h3">Lieu :</h3>
              </div>
              <p class="formation-infos-p">60 rue François 1er 75008 Paris</p>
            </div>

            <div class="formation-infos-container">
              <div class="formation-subtitle">
                <img class="formation-icon" src="/images/icons/calendar.svg" alt="valide">
                <h3 class="formation-h3">Démarrage :</h3>
              </div>
              <p class="formation-infos-p">{% for x in session %}{% if i.nom == x.idFormation %}{{ x.dateDebut|ea_as_string }}{% endif %}{% endfor %}</p>
            </div>

            <div class="formation-infos-container">
              <div class="formation-subtitle">
                <img class="formation-icon" src="/images/icons/check.svg" alt="valide">
                <h3 class="formation-h3">Certification :</h3>
              </div>
              <p class="formation-infos-p">{{ i.idCertif }}</p>
            </div>

            <div class="formation-inscription">
              <h3 class="formation-h4">Intéressé.e ?</h3>
              <p>Vous souhaitez vous inscrire ?<br>Contactez nous par mail, nous vous répondons le plus vite possible !</p>
              <a href=""><button class="formation-button">S'inscrire</button></a>
            </div>

          </aside>

        </div>

      </section>

    {% endif %}
  {% endfor %}

{% endblock %}