{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<section class="banner" style="background-image: url(../images/banner1.jpg);">

            <div class="banner-color">

                <h1 class="banner-title">Venez construire votre avenir avec nous</h1>

                <div class="banner-resume">
                    <p class="resume-title">Une formation pour vous</p>
                    <p class="resume-text">Formations en gestion de paye, comptabilité, fiscalité et en management, IFCAP vous accueille afin de vous professionnaliser dans ces différents domaines.</p>
                </div>

            </div>

    </section>
    
    <section class="inscription-section">
        <div class="inscription-container">
        
            <h2 class="inscription-title">Inscription à votre formation</h2>

            <div class="inscription-form">
                <div class="inscription-form-container">
                    {{ form_start(form)}}

                        <div class="incription-form-row">
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom) }}
                            {% if form is rootform %}
                                {{ form_errors(form) }}
                            {% endif %}
                        </div>

                        <div class="incription-form-row">
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom) }}
                        </div>

                        <div class="incription-form-row">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {# {{ form_errors(form.email) }} #}
                        </div>

                        <div class="incription-form-row">
                            {{ form_label(form.statut) }}
                            {{ form_widget(form.statut) }}
                        </div>

                        <div class="incription-form-row">
                            {{ form_label(form.idFormation) }}
                            {{ form_widget(form.idFormation) }}
                        </div>

                        <div class="incription-form-row">
                            {{ form_label(form.adresse) }}
                            {{ form_widget(form.adresse) }}
                        </div>

                        <div class="incription-form-row">
                            {{ form_label(form.telephone) }}
                            {{ form_widget(form.telephone) }}
                        </div>

                        {{ form_row(form.submit) }}

                    {{ form_end(form)}}
                </div>
            </div>
        
        </div>
    </section>
{% endblock %}
