<p>Une nouvelle demande a été reçu</p>

<ul>
  <li> Nom prénom : {{ data.nom }} {{ data.prenom }}</li>
  <li> Statut : {{ data.statut }}</li>
  <li> Formation souhaité : {{ data.idFormation }}</li>
  <li> Adresse : {{ data.adresse }}</li>
  <li> Téléphone : {{ data.telephone }}</li>
</ul>
